@inherits LayoutComponentBase


<section class="body">
    <div id="wrapper">
        <NavMenu />

        <div id="page-wrapper" class="gray-bg">
        <TopNavBar/>
            @Body

        </div>
    </div>
</section>

